<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betcha"
    android:versionCode="1"
    android:versionName="1.10" >

    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BetchaApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".nevigation.BetUTabActivity" android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
			    <data android:scheme="http" android:host="betcha.com" />
			    <category android:name="android.intent.category.DEFAULT" />
          		<category android:name="android.intent.category.BROWSABLE" />	    
			    <action android:name="android.intent.action.VIEW" />
			</intent-filter> 
        </activity>
        <activity android:name=".activity.CreateBetActivity" android:label="@string/createbet"></activity>
        <activity android:name=".nevigation.BetListGroupActivity" android:label="@string/betsrecordsgroup"></activity>
        <activity android:name=".activity.BetsListActivity" android:label="@string/betsrecords"></activity>
        <activity android:name=".activity.BetDetailsActivity" android:label="@string/betdetails"></activity>
        <activity android:name=".activity.SettingsActivity" android:label="@string/settingsactivity"></activity>
    </application>

</manifest>